# Python
__pycache__/
*.py[cod]
*.pyo

# Local settings and secrets
youtube_client_secret.json
youtube_token.json
redditcreds.txt
tiktok_cookies.txt

# Generated content
newcap.png
storytitle.txt
storybody.txt
storyurls.txt

# Not mine
badwords.txt
burbankbigcondensed-bold-01.otf
